.top_recommend {
  height          : 517px;
  width           : 100%;
  background-image: url(../../assets/bg_01.png);
  background-size : cover;
  padding-top     : 8px;
  position        : relative;

  .video_left {
    width        : 890px;
    height       : 501px;
    border-radius: 8px;
    overflow     : hidden;

    .video-player {
      width: 890px;
    }

    .enter_room {
      width        : 160px;
      height       : 40px;
      border-radius: 12px;
      text-align   : center;
      line-height  : 40px;
      border       : 1px solid white;
      position     : absolute;
      left         : 50%;
      top          : 50%;
      transform    : translate(-50%, -50%);
      z-index      : 100;

      a {
        color      : white;
        font-weight: 800;
        font-size  : 16px;
      }

      &:hover {
        a {
          color: #ff3399;
        }

        border: 1px solid #ff3399;
      }
    }

    .video_bar {
      width           : 100%;
      height          : 50px;
      line-height     : 50px;
      position        : absolute;
      bottom          : 0;
      background-color: rgba(0, 0, 0, 0.5);
      /deep/.el-slider{
        margin-top: 4px;
      }
      /deep/.el-slider__bar{
        background-color: #ff3399;
      }
      /deep/.el-slider__button{
        border:1px solid #ff3399;
      }
      .playOrPause {
        float       : left;
        height      : 50px;
        line-height : 50px;
        margin-right: 20px;
        margin-left : 26px;

        i {
          display        : inline-block;
          height         : 24px;
          width          : 24px;
          position       : relative;
          background-size: cover;
          top            : 3px;
        }

        .video-pause {
          background-image: url(../../assets/icon-kaishi.png);
        }

        .video-play {
          background-image: url(../../assets/icon-zanting.png);
        }
      }
      .voices {
        width          : 140px;
        height         : 50px;
        line-height: 50px;
        float          : left;
        display        : flex;
        justify-content: start;
        align-items    : center;
        i {
          width          : 24px;
          height         : 24px;
          display        : inline-block;
          background-size: cover;
          position       : relative;
          top            : -4px;
          margin-right   : 6px;
        }

        .voice {
          background-image: url(../../assets/icon-shengyin.png);
        }

        .silent {
          background-image: url(../../assets/icon-jingyin.png);
        }

        .el-slider {
          width : 100px;
          height: 50px;
        }
      }

      .seeMore {
        float           : right;
        margin-right    : 20px;
        margin-top      : 10px;
        width           : 160px;
        height          : 26px;
        border-radius   : 14px;
        background-image: linear-gradient(to right, #FFCCCC, #CC66CC);
        border          : none;
        color           : white;

        &:hover {
          color: #FF3399;
        }
      }
    }
  }

  .video_right {
    position: absolute;
    top     : 0;
    right   : 0;
    width   : 538px;
    height  : 501px;
    .video_box {
      border-radius: 8px;
      display      : inline-block;
      width        : 262px;
      height       : 246px;
      border-radius: 20px;
      margin-bottom: 6px;
      margin-right: 6px;
      overflow: hidden;
      position     : relative;
      img {
        width : 262px;
        height: 246px;
      }
      .join_mask {
        height          : 100%;
        width           : 100%;
        line-height     : 269px;
        text-align      : center;
        top             : 0;
        left            : 0;
        position        : absolute;
        background-color: rgba(0, 0, 0, 0.5);
        color           : white;
        display: none;
        i {
          font-size  : 80px;
          font-weight: 200;
          cursor: pointer;
          &:hover{
            color: pink;
          }
        }
      }

      &:hover {
        border:1px solid #FFCCCC;
        .join_mask{
          display: block;
        }
      }
      .intro_info {
        width: 100%;
        height: 36px;
        background: linear-gradient(
          360deg,
          rgba(0, 0, 0, 0.56) 0%,
          rgba(111, 92, 124, 0.37) 100%
        );
        position: absolute;
        bottom: 0;
        color: white;
        padding: 0 12px;
        .petName {
          float: left;
          h5 {
            font-size: 14px;
            font-weight: 400;
          }
          p {
            font-size: 12px;
          }
        }
        .heat {
          float: right;
          height: 36px;
          line-height: 36px;
          i {
            height: 12px;
            width: 12px;
            display: inline-block;
            background-image: url(../../assets/fire.png);
            background-size: cover;
            margin-right: 2px;
          }
        }
      }
    }
  }
}