.top-nav {
    width: 100%;
    height: 64px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    .logo {
      height: 44px;
      width: 54px;
      float: left;
      margin-left: 144px;
      margin-top: 11px;
      cursor: pointer;
    }
    .container {
      width: 1440px;
      margin: 0 auto;
      .nav_left {
        float: left;
        height: 64px;
        line-height: 64px;
        margin-left: 27px;
        li {
          float: left;
          margin-left: 84px;
          &:first-child {
            margin: 0;
          }
          .rank_select{
            background-color: white;
            border-radius: 6px;
            width: 100px;
            height: 80px;
            border:1px solid #f0f2f3;
            position: absolute;
            overflow: hidden;
            p{
              height: 40px;
              font-size: 12px;
              text-align: center;
              line-height: 40px;
              cursor: pointer;
              padding:0 10px;
              &:hover{
                background-color: #f0f2f3;
              }
            }
          }
          a {
            font-size: 16px;
          }
          .router-link-exact-active {
            display: block;
            height: 50px;
            border-bottom: 2px solid #ff3399;
            color: #ff3399 !important;
            font-weight: 800;
          }
        }
      }
      .nav_right {
        float: right;
        height: 64px;
        line-height: 64px;
        .search-id,
        .history,
        .register,
        .login,
        .mine {
          display: inline-block;
        }
        .search-id {
          height: 38px;
          width: 298px;
          input {
            background-color: #eee;
            display: inline-block;
            height: 38px;
            width: 258px;
            border-radius: 20px;
            outline: none;
            padding-left: 20px;
            border: none;
          }
          i {
            
            height: 20px;
            width: 23px;
            cursor: pointer;
            position: relative;
            right: 40px;
            top: 4px;
            display: inline-block;
            background-size: cover;
            background-image: url("../../assets/icon-search.png");
          }
        }
        .history {
          margin-left: 42px;
          margin-right: 21px;
          font-size: 14px;
          position: relative;
          cursor: pointer;
          &:hover {
            color: #ff3399;
          }
          i {
            display: inline-block;
            height: 16px;
            width: 16px;
          }
          .history_box {
          //   height: 322px;
            width: 320px;
            border-radius: 6px;
            background-color: #fff;
            position: absolute;
            top: 60px;
            left: -140px;
            z-index: 100;
            .top-icon {
              position: absolute;
              top: -9px;
              height: 9px;
              width: 320px;
              display: inline-block;
              background-image: url(../../assets/histroy/icon03.png);
              background-size: cover;
            }
            //    历史访问
            ul.visited {
                border-radius: 8px;
                border:1px solid #eee;
              li {
                height: 57px;
                width: 100%;
                &:hover{
                    background-color: #f3efef;
                }
                img,
                .vname,
                .state {
                  float: left;
                }
                img {
                  margin-top: 12px;
                }
                .vname {
                  line-height: 25px;
                  margin-right: 20px;
                  margin-top:12px;
                  span {
                    display: block;
                    height: auto;
                    width: auto;
                  }
                  i {
                    display: block;
                    height: 14px;
                    width: 28px;
                    background-image: url(../../assets/histroy/icon-dengji.png);
                    background-size: cover;
                  }
                }
                .state {
                  height: 57px;
                  line-height: 86px;
                  i {
                    display: inline-block;
                    height: 20px;
                    width: 20px;
                    background-image: url(../../assets/histroy/online.png);
                    background-size: cover;
                  }
                }
                .follow {
                  float: right;
                  margin-right: 26px;
                  margin-top: 18px;
                  width: 47px;
                  height: 22px;
                  background: linear-gradient(
                    282deg,
                    rgba(204, 102, 204, 1) 0%,
                    rgba(255, 204, 204, 1) 100%
                  );
                  border-radius: 6px;
                  color: white;
                  outline: none;
                  border: none;
                }
                img {
                  height: 36px;
                  width: 36px;
                }
              }
            }
          }
        }
        //    登陆注册
        .register,
        .login {
          color: #666;
          border-radius: 4px;
          font-size: 14px;
          border: 1px solid #ddd;
          background-color: #fff;
        }
        .register{
          background-image: linear-gradient(to right, #ffcccc, #cc66cc);
          color: white;
          border:1px solid transparent;
          &:hover{
            border:1px solid #f1ff33;
          }
        }
        .login:hover{
          border:1px solid #ff3399;
          color: #ff3399;
        }
        // 个人中心
        .mine_img {
          height: 52px;
          width: 52px;
          margin-left: 23px;
          float: right;
          margin-top: 5px;
          cursor: pointer;
        }
        .top_right_img{
          height: 500px;
          width: auto;
        }
        .ownCenter{
          position: absolute;
          top: 60px;
          right: -24px;
          background-color: #fff;
          border-radius: 4px;
          .own_box{
            width: 330px;
            height: 432px;
            .own_top{
              height: 234px;
              text-align: center;
              background-image: url(../../assets/u_photo/yhbeijing.png);
              background-size: cover;
              color: white;
              img{
                height: 86px;
                width: 86px;
                position: relative;
                top: 40px;
              }
              h3{
                height: 24px;
              }
              p{
                height: 22px;
                span{
                  color: #ff3399;
                }
                i{
                  height: 12px;
                  width: 26px;
                  display: inline-block;
                  position: relative;
                  background-size: cover;
                  z-index: 1000;
                  margin-right: 4px;
                }
                .dj{
                  background-image: url(../../assets/icon-dengji.png);
                }
              }
            }
            .own_content{
              height: 199px;
              display: flex;
              justify-content: center;
              align-content: center;
              align-items: center;
              flex-wrap: wrap;
              div{
                width: 35%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                p{
                  display: inline-block;
                  cursor: pointer;
                }
                i{
                  height: 15px;
                  width: 15px;
                  display: inline-block;
                  position: relative;
                  background-size: cover;
                  top: 2px;
                  margin-right: 6px;
                }
                .i_live{
                  background-image: url(../../assets/u_photo/icon-zhibo.png);
                }
                .i_own{
                  background-image: url(../../assets/u_photo/icon-zhjuye.png);
                }
                .i_recharge{
                  background-image: url(../../assets/u_photo/icon-chongzhi.png);
                }
                .i_rich{
                  background-image: url(../../assets/u_photo/icon-zichan.png);
                }
                .i_rc{
                  background-image: url(../../assets/u_photo/icon-fangguan.png);
                }
                .i_home{
                  background-image: url(../../assets/u_photo/icon-jioazu.png);
                }
                .i_fouce{
                  background-image: url(../../assets/u_photo/icon-guanzhu.png);
                }
                .i_fans{
                  background-image: url(../../assets/u_photo/icon-fensi.png);
                }
        
              }
            }
          }
        }
      }
    }
  }